@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #59440D;
    --cor2: #DFBC64;
    --cor3: #DAA520;
    --cor4: #594B28;
    --cor5: #A67E19;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: Bebas Neue, cursive;
}

*{
    font-family: var(--fonte0);
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
}

header h1{
    font-size: 3em;
    font-family: Bebas Neue, cursive;
    text-align: center;
    padding: 10px;
}

header h2{

    padding: 10px;
    padding-bottom: 20px;
    text-align: center;

}

nav{
    padding: 5px;
    padding-left: 0px;
}

nav a{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    transition-duration: .5s;
    background-color: var(--cor2);
}